* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
}

.header {
    width: 30vw;
    top: 50%;
    left: 150px;
    position: absolute;
    z-index: 3;
    color: rgb(255, 255, 255);
    font-family: "Geist";
    font-weight: 300;
    transform: translateY(-50%);
    justify-content: left;
    background-color: rgba(245, 245, 245, 0.152);
    padding: 20px;
    border-radius: 20px;
}

.header .title-heading {
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px ;
} 

.carousel {
    height: 100vh;
    width: 100vw;
}

.slide { 
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .4s ease-in-out;
}

.slide.active{
    opacity: 1;
}

.slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.carousel button {
    position: absolute;
    background: none;
    border: none;
    color: rgba(245, 245, 220, 0.86);
    outline: none;
    font-size: 2.8rem;
    cursor: pointer;
    z-index: 2;
    top: 50%;
    transform: translateY(-50%);
}

#prev {
    left: 20px;
}

#next {
    right: 20px;
}


